* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'News Cycle', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 20px;
}


/*Common style  */


/*section  */

.section-2 {
    height: 100vh;
    width: 100%;
    padding: 20px;
    background: url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}


/* navbar */

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #5a5a00;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav-bar-link {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    padding: .5rem;
}

.nav-bar-link:hover {
    text-decoration: underline;
}

a:focus {
    background-color: #a2a216;
}